@model ContactForm
<div class="my-5 py-5">

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thank you very much for your query.</h4>
        <p>we will be get back to you as soon as possible.</p>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning btn-lg">Return Back</a>
</div>